


footer {
    position: fixed;
    bottom: 0;
    padding: 40px 10px 15px;

    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
   
    background-color: rgb(80, 75, 75);
    color: whitesmoke;
}

img {
    width: 100%;

}


button {


}